<aside class="dash-sidebar">
    <div class="dash-sidebar-logo">
        <a href="javascript:void(0);">
            <img src="/assets/images/side-menu/main.png" alt="logo">
            Pomo & co
        </a>
    </div>
    <div class="dash-sidebar-menu">
        <ul>
            <li routerLinkActive="active" [routerLink]="['/restaurant']">
                <a class="menulink">
                    <img src="/assets/images/side-menu/menu1.png" alt="icon">
                    <span class="menu_txt"> Home </span>
                </a>
            </li>
            <li>
                <a class="menulink">
                    <img src="/assets/images/side-menu/menu2.png" alt="icon">
                    <span class="menu_txt"> Orders </span>
                </a>
            </li>
            <li>
                <a class="menulink">
                    <img src="/assets/images/side-menu/menu3.png" alt="icon">
                    <span class="menu_txt"> Notification </span>
                    <span class="menu_number"> 10 </span>
                </a>
            </li>
            <li>
                <a class="menulink">
                    <img src="/assets/images/side-menu/menu4.png" alt="icon">
                    <span class="menu_txt"> Help & Support </span>
                </a>
            </li>
            <li>
                <a class="menulink">
                    <img src="/assets/images/side-menu/menu5.png" alt="icon">
                    <span class="menu_txt"> Settings </span>
                </a>
            </li>
        </ul>
    </div>

    <div class="order-detail">
        <img src="/assets/images/side-menu/background.png">

        <div class="order-content">
            <i class="fa fa-times"></i>

            <div class="clock">
                <img src="/assets/images/side-menu/clock-icon.png">
            </div>
    
            <div class="main-text-order">
                Your Order is now Ready
            </div>
            <div class="name-id">
                Splint Doumo<br>
                Order Id: #ED564F
            </div>
    
            <div class="detail-button">
                Details
            </div>
        </div>
    </div>

    <div class="user-name-email">
        <div class="name">
            Mark Clarke
            <img src="/assets/images/side-menu/arrow-up.png">
        </div>
        <div class="email">
            markclarke@gmail.com
            <img src="/assets/images/side-menu/arrow-down.png">
        </div>
    </div>
</aside>
