<div class="row header">
    <div class="col-md-5">
        <div class="back-arrow" [routerLink]="['/restaurant']">
            <img src="/assets/images/back-arrow.png">
        </div>
    </div>
    <div class="col-md-7">

        <div class="cart">
            <img src="/assets/images/cart-icon.png">
        </div>
        <div class="filter">
            <img src="/assets/images/filter.png">
        </div>
        <div class="search">
            <img src="/assets/images/search.png">
            <input class="global-search" placeholder="Search for Restaurants  (Press Enter to search)">
        </div>
        <div class="arrow-up-down">
            <img src="/assets/images/arrow-up-down.png">
        </div>
        <div class="text-header">Da Otto</div>
        <img src="/assets/images/icon.png" class="icon">
    </div>
</div>